// 0 breakpoints ==================================== 
// small tablets and large smartphones (landscape view)
$breakpoint-phone: 576px;

// small tablets (portrait view)
$breakpoint-tablet: 768px;

// tablets and small desktops
$breakpoint-desktop: 992px;

//large tabletss and desktops
$breakpoint-xl: 1200px;


// * 1. Colors =======================================
$white: #ffffff;
$black: #1d1c1e;
$background:rgb(204, 234, 245);
// $background:rgb(245, 204, 244);
$soft: rgb(183, 204, 242);
$darkBlue: rgb(29, 104, 131);
$lightGrey: #f1f3f5;
$green: #64f0bf;






// * 2. Fonts ==========================================


@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
// @import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@400;700&family=Pacifico&display=swap');

$main-font: 'Raleway', sans-serif;
// $main-font:'Noto Sans', sans-serif;